.borders {
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif;
}

#header {
    display: inline-block;
    height: 12vh;
    width: 99%;
}

#title {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#main {
    display: flex;
    justify-content: center;
    height: 84vh;
    width: 99%;
    margin: 5px;
}

.main-containers {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 32%;
}

.team-container {
    display: inline-block;
    width: 98%;
    height: 98%;
    margin: 5px;
}

#team-select-container {
    display: flex;
    justify-content: center;
    margin: 5px;
    overflow: auto;
}

#team-selector {
    text-align: center;
    margin: 5px;
}

.player-window {
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    margin: 5px;
    height: 70%;
    box-shadow: 5px 5px 2.5px lightgray;
    border-radius: 5px;
}

.team-stats {
    margin: 5px;
    height: 22%;
    line-height: 5px;
    overflow: auto;
}

.stats-container {
    margin: 5px;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

#trade-container {
    display: inline-block;
    width: 98%;
    height: 500px;
    margin: 5px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px 3px lightgray;
}

#trade-block {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    font-size: small;
}

#trade-block-1 {
    display: inline-block;
    width: 40%;
    height: 100px;
    margin: 5px auto;
}

#trade-block-2 {
    display: inline-block;
    width: 40%;
    height: 100px;
    margin: 5px auto;
}

#trade-response-container {
    margin: 5px;
    height: 50%;
    vertical-align: middle;
    text-align: bottom;
    font-size: small;
}

#trade-response {
    text-align: center;
    font-size: large;
}

.trade-response {
    margin: 5px;
    height: 45%;
    vertical-align: middle;
}

.card-container {
    margin: 5px;
    padding: 3px;
    width: 95%;
    border-radius: 5px;
    background-color: rgb(240, 236, 236);
}

.card {
    list-style: none;
}

.card-content {
    line-height: 10px;
    font-family: sans-serif;
    font-size: 12px;
}

#player-image {
    border-style: outset;
    float: left;
    margin: 5px;
    width: 55px;
    height: 45px;
    object-fit: fill;
    background-color: white;
}

#player-name {
    font-weight: bold;
}

.player-select-checkbox {
    float: right;
}

#table {
    width: 95%;
    text-align: center;
}